
<div class="household-show pt-2">
  <div class="d-flex justify-content-center">
    <h1 class="">My To-do list:</h1>
  </div>

  <div>
    <div class="d-flex justify-content-center">
      <div class="request-filter-bar btn-group btn-group-toggle m-3">
        <%= link_to "My Chores", tasks_path(my_tasks: true), class: "btn btn-outline-primary request-filter-buttons #{'active' if params[:my_tasks] == 'true'}" %>
        <%= link_to "My Calendar", tasks_path(calendar: true), class: "btn btn-outline-primary request-filter-buttons #{'active' if params[:calendar] == 'true'}" %>
      </div>
    </div>



    <div class="d-flex my-3">
      <div style="width: 100%;">
        <h5 class="">Your progress</h5>
        <%= render 'shared/progress_bar', progress_percentage: @progress_percentage %>


      </div>
    </div>
  </div>
</div>

<div style="min-height: 100vh; margin: 8px;">
  <div class=" d-flex flex-column align-items-center">
    <%# ------Submission Modal Created / List & List copy combined ----- %>
    <% if params[:calendar] == 'true' %>
      <%= render 'tasks/usercalendar' %>
    <% else %>
      <%= render 'submissions/list', submissions: @submissions %>
    <% end %>

  </div>
</div>
