<div class="d-flex justify-content-center">
  <div class="request-filter-bar btn-group btn-group-toggle mb-3">
    <% @users.each do |user| %>
      <%= link_to user.username, tasks_path(user_id: user.id), class: "mt-3 btn btn-outline-primary request-filter-buttons #{'active' if @user == user}" %>
    <% end %>
  </div>
</div>
<%= link_to "All Tasks", tasks_path(all_users: true), class: "btn btn-outline-primary request-filter-buttons #{'active' if params[:all_users] == 'true'}" %>
<%= link_to "Make a new chore", new_task_path, class: "btn btn-outline-primary request-filter-buttons" %>
<div class="d-flex justify-content-center" style="min-height: 100vh;">
  <div class="container d-flex flex-column align-items-center">
    <% @user_tasks.each do |task| %>
      <div class="card-product mb-3" style="width: 400px;">
        <img src="https://static.thenounproject.com/png/1569761-200.png" class="img-fluid" />
        <div class="card-product-infos">
          <h2><%= task.title %></h2>
          <p><%= task.description %></p>
        </div>
        <div class="btn btn-success mx-2"><i class="fa-regular fa-circle-check"></i></div>
      </div>
    <% end %>
  </div>
</div>
