<div class="form container w-50 mt-3" style="background-color: white; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <h2>List a task</h2>
  <%= simple_form_for [@task] do |f| %>
    <%# <%= f.association :user %>
    <%= f.input :title %>
    <%= f.input :frequency %>
    <%= f.input :category, collection:
    ["Vacuuming", "Kitchen", "Shopping", "5 minutes", "20 minutes", "Big Tasks"],
     prompt: 'Select a category' %>
    <div class="text-center">
      <%= f.submit "Submit", class: " btn btn-primary mb-2" %>
    </div>
  <% end %>
</div>
