<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="user-profile-achievements">
      <div class="user-profile-coins d-flex">
        <i class="fa-solid fa-coins" style="color: orange;"></i>
        <!-- <h5>points: <%= @user.points %></h5> -->
        <p> points: <% if current_user.present? && current_user.present?  %>
            <%= current_user.points %>
          <% end %>
        </p>
      </div>
      <div class="user-profile-badges d-flex">
        <i class="fa-solid fa-trophy" style="color: red;"></i>
        <!-- <h5>badges: number <%# @user.badges.sum %></h5> -->
        <p>Badges: <% if current_user.present? && current_user.badges.present? %>
            <%= current_user.badges.count %>
          <% end %>
        </p>
      </div>
    </div>



    <div >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if current_user != nil %>
            <li class="nav-item">
              <%= link_to "My house", household_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My page", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
