<div class="navbar-footer">

  <% if current_user != nil %>
    <%= link_to '#mygarden' do %>
      <i class="fa-solid fa-house-user navbar-footer-btn" style="font-size: 24px; margin: 8px;"></i>
    <% end %>

    <%= link_to household_path(current_user) do %>
      <i class="fa-solid fa-plus navbar-footer-btn" style="font-size: 24px; margin: 8px;"></i>
    <% end %>

    <%= link_to '/tasks' do %>
      <i class="fa-solid fa-list navbar-footer-btn" style="font-size: 24px; margin: 8px;"></i>
    <% end %>
  <% else %>
    <%= link_to '#' do %>
      <i class="fa-solid fa-house-user navbar-footer-btn" style="font-size: 24px; margin: 8px;"></i>
    <% end %>

    <%= link_to '#' do %>
      <i class="fa-solid fa-plus navbar-footer-btn" style="font-size: 24px; margin: 8px;"></i>
    <% end %>

    <%= link_to '#' do %>
      <i class="fa-solid fa-list navbar-footer-btn" style="font-size: 24px; margin: 8px;"></i>
    <% end %>
  <% end %>

</div>
