<div class="task-index" style="width: 100%;">
  <% if submissions.first.nil? %>
    <h5 style="color: grey;"><em>No <%= params[:frequency] %> Chores to complete.</em></h5>
  <% else %>
    <% submissions.each do |submission| %>
      <% task = submission.task %>
      <div class="task-card-product d-flex justify-content-between" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#submissionModal-<%= submission.id %>">
        <% if task.category == "Cleaning" %>
          <img src="https://cdn.vectorstock.com/i/preview-1x/88/60/outlined-pixel-icon-vacuum-cleaner-fully-vector-27918860.jpg" class="img-fluid m-1 " />
        <% elsif task.category == "Kitchen" %>
          <img src="https://thumb.ac-illust.com/89/89b87dbee388f25c2c559ec07fbfeb55_t.jpeg" class="img-fluid m-1 " />
        <% elsif task.category == "Shopping" %>
          <img src="https://th.bing.com/th/id/R.6d96e086c95897b8f7dd262f1f80e83c?rik=K8cmjNFzwK%2bA6w&riu=http%3a%2f%2fpixelartmaker.com%2fart%2fadb771c24962ec2.png&ehk=aRNuKGWeMKFTReCOmLv9C9znvsRuRDFDS3BHyfyFdXU%3d&risl=&pid=ImgRaw&r=0" class="img-fluid m-1 " />
        <% elsif task.category == "Others" %>
          <img src="https://static.vecteezy.com/system/resources/previews/010/968/271/original/paper-sheet-pixel-free-vector.jpg" class="img-fluid m-1 " />
        <% else %>
          <img src="https://static.vecteezy.com/system/resources/previews/010/968/271/original/paper-sheet-pixel-free-vector.jpg" class="img-fluid m-1 " />
        <% end %>
        <div class="task-card-product-infos flex-grow-1">
          <h2><%= task.title %></h2>
          <div class="d-flex task-text">
            <p><%= task.frequency %></p>
            <p><%= submission.deadline %></p>
          </div>
          <p><%# submission.user.username %> </p>
        </div>
        <div class="btn <%= submission.status == "completed" ? "btn-primary" : "btn-warning" %>" style="padding-top: 8px; margin: 8px;" >
          <i class="<%= submission.status == "completed" ? "fa-regular fa-circle-check" : "fa-solid fa-clock" %>" ></i>
        </div>
      </div>
      <%# Modal for Submission %>
      <div class="modal fade  modal-ku" id="submissionModal-<%= submission.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel" data-show-points-target="text">Submit picture & complete the task!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" data-controller="show-points">
              <div id="form" data-show-points-target="form">
                <%= simple_form_for submission, html: { multipart: true }, local:true do |f| %>
                  <%= f.input :photo, as: :file, label: false %>
                  <%= f.input :status, input_html: { value: "completed" }, as: :hidden %>
                  <div data-action="click->show-points#showPoints">
                    <%= f.submit 'Complete', class: 'btn btn-primary mt-2', disabled: submission.status == "completed" %>
                  <% end %>
                </div>
              </div>
              <div data-show-points-target="image" class="d-none">
                <%= render 'submissions/points'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
