<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
  <i class="fa-regular fa-circle-check"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Submit a picture!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@submission] do |f| %>
          <!-- <% f.association :task, collection: @tasks  %> -->
          <%= f.input :photo, as: :file, label: false %>
          </div>
          <div class="modal-footer">
          <%= f.submit 'Complete', class: 'btn btn-success mt-2' %>
        <% end %>
      </div>
      </div>
    </div>
  </div>

<!-- Original Form -->
<!-- <h1>Create a submission</h1> -->
<!-- <%= simple_form_for [@submission] do |f| %> -->
  <!-- <% f.association :task, collection: @tasks  %> -->
<!-- <%= f.input :photo, as: :file, label: 'Upload your photo' %> -->
<!-- <%= f.submit 'Submit', class: 'btn btn-danger mt-2' %> -->
<!-- <% end %>
