<p>http://localhost:3000/submissions/new</p>

<%= simple_form_for [@tasks] do |f| %>
  <%= f.input :title %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Submit', class: 'btn btn-danger mt-2' %>
<% end %>

<ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.title %>
      </li>
    <% end %>
</ul>
