<div>
  <h1>Add tasks</h1>
  <div class="add-task-categories py-3">
    <h5>Suggested Tasks</h5>
    <%= render 'tasks/suggested_tasks' %>
  </div>
  <div class="add-task-categories py-3">
    <h5>Custom Tasks</h5>
    <!-- Modal button -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal", style="border-radius: 32px; border: 1px black solid; width: 100%;">
      <i class="fa-solid fa-circle-plus"></i>create custom tasks
    </button>
    <!-- Modal  -->
    <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="taskModalLabel">Add New Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'tasks/form', task: @task %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="add-task-categories py-3">
    <h5>Added Tasks</h5>
    <% @tasks.each do |task| %>
      <div class="card-product d-flex align-items-center p-3">
        <% if task.submissions.first.nil? %>
          <span class="badge bg-danger rounded-circle p-3 ms-auto" style="font-size: 1.5em;">
            <i class="fa-regular fa-calendar-xmark" style="font-size: 1.2em;"></i>
          </span>
        <% else %>
          <span class="badge bg-success rounded-circle p-3 ms-auto" style="font-size: 1.5em;">
            <i class="fa-solid fa-calendar-check" style="font-size: 1.2em;"></i>
          </span>
        <% end %>
        <div class="card-product-infos flex-grow-1">
          <h2><%= task.title %></h2>
          <p><%= task.frequency %></p>
        </div>
        <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Delete task?" }, class: "btn btn-danger mx-2" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end%>
      </div>
    <% end %>
  </div>
  <div class="add-task-categories py-3">
    <%= link_to timetable_household_path(current_user.household), data: { turbo_method: :post, turbo_confirm: "Generate now?" }, style:"border-radius: 32px; border: 1px black solid;", class: "btn btn-warning p-3" do %>
      <i class="fa-regular fa-calendar"></i> Build Timetable
    <% end %>
  </div>
</div>
