<div class="submission-post" >
  <div class="post-top">
    <% if submission.user.photo.attached? %>
      <div class="d-flex">
        <%= cl_image_tag submission.user.photo.key, class: 'img-fluid rounded-circle me-3', alt: 'User Photo', style: 'width: 40px; height: 40px;' %>
        <h5><%= submission.user.username %></h5>
      </div>
    <% else %>
      <div class="d-flex">
        <img src="path/to/default-profile-photo.jpg" class="img-fluid rounded-circle me-3" alt="Default User Photo" style="width: 40px; height: 40px;">
        <h5><%= submission.user.username %></h5>
      </div>
    <% end %>
  </div>
  <% if submission.photo.attached? %>
    <%= cl_image_tag submission.photo.key, class: 'img1', alt: 'Submission Photo' %>
  <% else %>
    <p>No photo available</p>
  <% end %>
  <h5 class="post-title">Task: <%= submission.task.title %></h5>
  <p class="post-text">
    <strong>Date:</strong> <%= submission.updated_at.strftime("%d %b %Y %H:%M") %>
  </p>
  <% if submission.user.badges.any? %>
    <% most_recent_badge = submission.user.badges.last %>
    <% if most_recent_badge %>
      <div style="border: 1px solid black; padding: 10px; border-radius: 7px; width: fit-content;">
        <p><%= submission.user.username %> earned the flower: <strong><%= most_recent_badge.name %></strong></p>
        <img src="<%= asset_path('bud1.png') %>" style="width: 40px" alt="bud">
      </div>
    <% end %>
  <% end %>
</div>
