<div class="submission-post">
  <div class="post-top">
    <% if submission.user.photo.attached? %>
      <div class="d-flex">
        <%= cl_image_tag submission.user.photo.key, class: 'img-fluid rounded-circle me-3', alt: 'User Photo', style: 'width: 40px; height: 40px;' %>
        <h5><%= submission.user.username %></h5>
      </div>
    <% else %>
      <div class="d-flex">
        <img src="path/to/default-profile-photo.jpg" class="img-fluid rounded-circle me-3" alt="Default User Photo" style="width: 40px; height: 40px;">
        <h5><%= submission.user.username %></h5>
      </div>
    <% end %>
  </div>

  <% if submission.photo.attached? %>
    <%= cl_image_tag submission.photo.key, class: 'img1', alt: 'Submission Photo' %>
  <% else %>
    <p>No photo available</p>
  <% end %>

  <h5 class="post-title">Task: <%= submission.task.title %></h5>
  <p class="post-text">
    <strong>Date:</strong> <%= submission.updated_at.strftime("%d %b %Y %H:%M") %>
  </p>
</div>
