<div class="household-show pt-2">
  <!-- title -->
  <div class="household-show-title" style=" width: 100%; padding-bottom: 16px;">
    <h1><%= @household.title %>'s house <%= link_to '', edit_household_path(current_user.household), class: "fa-solid fa-pen-to-square", style: "font-size: 18px; opacity: 50%;" %></h1>
  </div>
  <!-- Members section -->
  <div class="household-show-members">
    <%# <div class="section-title"></div> %>
    <%# <h5 class="section-title">Members</h5> %>
    <div class="">
      <div class="user-show-members">
        <% @users.each do |user|%>
          <div class="d-flex">
            <div class="user-show-member-profiles">
              <div class="profile-pic-placeholder">
                <%= cl_image_tag(user.photo.key, class: "profile-pic") %>
              </div>
              <p class="mb-0" ><%= user.username %></p>
            </div>
          </div>
        <% end %>
        <!-- member add modal button -->
        <div class="d-flex justify-content-center">
          <button type="button" class="btn" data-toggle="modal" data-target="#memberModal", style="border-radius: 32px; border: 1px black solid; align-content: center; ">
            <i class="fa-solid fa-plus" style="font-size: 18px; text-align: center;"></i>
          </button>
        </div>
      </div>
    </div>


    <!-- member add modal form -->
    <div class="modal fade mt-3" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="memberModalLabel">Add New Member</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render '/users/form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
  <h2 class="mb-0"><%= @tasks.count %> Chores</h2>
  <div class="add-task-categories py-3">
    <%= link_to timetable_household_path(current_user.household), data: { turbo_method: :post, turbo_confirm: "Generate now?" }, style:"border-radius: 32px; border: 1px black solid;", class: "btn btn-warning p-3" do %>
      <i class="fa-regular fa-calendar"></i> Assign Tasks
    <% end %>
  </div>
</div>

<!-- Add Custom and Add Suggested collapse -->

<p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#addCustom" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add Custom
  </a>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#addSuggested" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add Suggested
  </a>
</p>
<div class="collapse" id="addCustom">
  <div class="card card-body">
    <%= render 'tasks/form', task: @task %>
  </div>
</div>
<div class="collapse" id="addSuggested">
  <div class="card card-body">
    <%= render 'tasks/suggested_tasks' %>
  </div>
</div>

<div class="add-task-categories py-3">
    <h5>Added Tasks</h5>
    <% @tasks.each do |task| %>
      <div class="card-product d-flex align-items-center p-3">
        <% if task.submissions.first.nil? %>
          <span class="badge bg-danger rounded-circle p-3 ms-auto" style="font-size: 1.5em;">
            <i class="fa-regular fa-calendar-xmark" style="font-size: 1.2em;"></i>
          </span>
        <% else %>
          <span class="badge bg-success rounded-circle p-3 ms-auto" style="font-size: 1.5em;">
            <i class="fa-solid fa-calendar-check" style="font-size: 1.2em;"></i>
          </span>
        <% end %>
        <div class="card-product-infos flex-grow-1">
          <h2><%= task.title %></h2>
          <p><%= task.frequency %></p>
        </div>
        <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Delete task?" }, class: "btn btn-danger mx-2" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end%>
      </div>
    <% end %>
  </div>

</div>
