<div class="household-show">
  <!-- title -->
  <div class="household-show-title" style=" width: 100%;">
    <h1><%= @household.title %>'s house <%= link_to '', edit_household_path(current_user.household), class: "fa-solid fa-pen-to-square", style: "font-size: 18px; opacity: 50%;" %></h1>
  </div>
  <!-- Members section -->
  <div class="household-show-members">
    <div class="user-show-members">
      <div class="d-flex">
        <% @users.each do |user|%>
          <div class="d-flex">
            <div class="user-show-member-profiles">
              <div class="profile-pic-placeholder">
                <%= cl_image_tag(user.photo.key, class: "profile-pic") %>
              </div>
              <p class="mb-0" ><%= user.username %></p>
            </div>
          </div>
        <% end %>
        <!-- member add modal button -->
        <div class="d-flex justify-content-center">
          <button type="button" class="btn" data-toggle="modal" data-target="#memberModal", style="border-radius: 32px; border: 1px solid black; align-content: center; width: 40px; height: 40px; margin-left: 8px; margin-right: 8px;">
            <i class="fa-solid fa-plus" style="font-size: 18px; text-align: center;"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- member add modal form -->
    <div class="modal fade mt-3" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="memberModalLabel">Add New Member</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render '/users/form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="chores-box">
    <div class="d-flex justify-content-between align-items-center">
      <div class="flex-colum text-start">
        <h2>Chores </h2>
        <p class="mb-0">currently <%= @tasks.count %> Chores...</p>
      </div>
      <div class="add-task-categories">
        <%= link_to timetable_household_path(current_user.household), data: { turbo_method: :post, turbo_confirm: "Generate now?" }, style:"border-radius: 32px; border: 1px black solid;", class: "btn btn-warning" do %>
          <i class="fa-regular fa-calendar"></i> Schedule
        <% end %>
      </div>
    </div>
  </div>

  <!-- Add Custom and Add Suggested collapse -->

  <div data-controller = "collapse">
    <p class="d-inline-flex gap-1">
      <a class="btn btn-primary" style="border-radius: 32px; border: 1px solid black;" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" data-action="click->collapse#toggleForm">
        + Custom
      </a>
      <a class="btn btn-primary" style="border-radius: 32px; border: 1px solid black;" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" data-action="click->collapse#toggleSuggested">
        + Suggested
      </a>
    </p>
    <div class="collapse" id="addCustom" data-collapse-target="form">
      <div class="card card-body">
        <%= render 'tasks/form', task: @task %>
      </div>
    </div>
    <div class="collapse" id="addSuggested" data-collapse-target="suggested">
      <div class="card card-body">
        <%= render 'tasks/suggested_tasks'%>
      </div>
    </div>
  </div>
  <div class="add-task-categories py-3">
    <h5>Added Chores</h5>
    <% @tasks.each do |task| %>
      <div class="card-product d-flex align-items-center p-3">
        <% if task.submissions.first.nil? %>
          <span class="badge bg-primary rounded-circle p-3 ms-auto" style="font-size: 1.5em;">
            <i class="fa-regular fa-calendar-xmark" style="font-size: 1.2em;"></i>
          </span>
        <% else %>
          <span class="badge bg-warning rounded-circle p-3 ms-auto" style="font-size: 1.5em;">
            <i class="fa-solid fa-calendar-check" style="font-size: 1.2em;"></i>
          </span>
        <% end %>
        <div class="card-product-infos flex-grow-1">
          <h2><%= task.title %></h2>
          <p><%= task.frequency %></p>
        </div>
        <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Delete task?" }, class: "btn btn-danger mx-2" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end%>
      </div>
    <% end %>
  </div>

</div>
