<div class="new-household-form">
  <%# <h1>Households#new</h1>
  <p>Find me in app/views/households/new.html.erb</p> %>

  <h2>Create a household</h2>
  <%= simple_form_for @household do |f| %>
    <%= f.input :title %>
    <%= f.input :users, collection: User.all.pluck(:username, :id) , prompt: 'Add members'%>
    <%= f.association :users, collection: User.all.pluck(:username, :id), prompt: 'Add members' %>
    <div class="submit">
      <%= f.submit "Submit", :class => "submit-btn" %>
    </div>
  <% end %>

</div>
