<div class="new-household-form" style="padding-top: 56px;">
  <%# <h1>Households#new</h1>
  <p>Find me in app/views/households/new.html.erb</p> %>

  <h2>Create a household</h2>
  <div class="new-household-container">
    <%= form_with url: households_path, method: :post do |form| %>
      <div class="household-form-group">
        <%= form.label :name, "Household Name" %>
        <%= form.text_field :name %>
      </div>

      <div class="household-form-group">
        <%= form.label :user_id, "Select User" %>
        <%= form.select :user_id, options_for_select(User.all.pluck(:username, :id)), {}, multiple: true %>
      </div>

      <%= form.submit "Create Household" %>
    <% end %>
  </div>



</div>
