<div class="household-show">
  <!-- title -->
  <div class="household-show-title" style=" width: 100%;">
    <h1 ><%= @household.title %>'s house <%= link_to '', edit_household_path(current_user.household), class: "fa-solid fa-pen-to-square", style:"opacity:50%" %></h1>
  </div>
  <!-- Members section -->
  <div class="household-show-members">
    <div class="user-show-members">
      <div class="d-flex">
        <% @users.each do |user|%>
          <div class="d-flex">
            <div class="user-show-member-profiles">
              <div class="profile-pic-placeholder">
                <%= cl_image_tag(user.photo.key, class: "profile-pic") %>
              </div>
              <p class="mb-0" ><%= user.username %></p>
            </div>
          </div>
        <% end %>
        <!-- member add modal button -->
        <div class="d-flex justify-content-center">
          <button type="button" class="btn" data-toggle="modal" data-target="#memberModal", style="border-radius: 32px; border: 1px solid black; align-content: center; width: 40px; height: 40px; margin-left: 8px; margin-right: 8px;">
            <i class="fa-solid fa-plus" style="font-size: 18px; text-align: center;"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- member add modal form -->
    <div class="modal fade mt-3" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="memberModalLabel">Add New Member</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render '/users/form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TASKS -->
  <div class="household-show-tasks">
    <div class="d-flex justify-content-between align-items-center">
      <div class="flex-column text-start">
        <h2>Chores</h2>
        <% if @tasks.count == 0 %>
            <p> No chores scheduled</p>
          <% else %>
            <p class="mb-0"><%= @tasks.count %> chores included...</p>
          <% end %>
      </div>
      <%= link_to chores_household_path(@household), class: "btn btn-warning", style: "border-radius: 32px; border: 1px black solid;" do %>
        + Add
      <% end %>
    </div>
  </div>
</div>
<!-- Feed of completed tasks -->
<div class="submission-container">
  <h2 class="text-center" style="margin:16px;">Completed Chores</h2>
  <% if @completed_submissions.any? %>
    <div class="completed-tasks-feed">
      <% @completed_submissions.each do |submission| %>
        <%= render partial: 'completed_task_card', locals: { submission: submission } %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">No Chores completed yet.</p>
  <% end %>
</div>
