<div class="household-show pt-2">
  <!-- title -->
  <div class="household-show-title" style=" width: 100%; padding-bottom: 16px;">
    <h1><%= @household.title %>'s house <%= link_to '', edit_household_path(current_user.household), class: "fa-solid fa-pen-to-square", style: "font-size: 18px; opacity: 50%;" %></h1>
  </div>
  <!-- Members section -->
  <div class="household-show-members">
    <%# <div class="section-title"></div> %>
    <%# <h5 class="section-title">Members</h5> %>
    <div class="">
      <div class="user-show-members">
        <% @users.each do |user|%>
          <div class="d-flex">
            <div class="user-show-member-profiles">
              <div class="profile-pic-placeholder">
                <%= cl_image_tag(user.photo.key, class: "profile-pic") %>
              </div>
              <p class="mb-0" ><%= user.username %></p>
            </div>
          </div>
        <% end %>
        <!-- member add modal button -->
        <div class="d-flex justify-content-center">
          <button type="button" class="btn" data-toggle="modal" data-target="#memberModal", style="border-radius: 32px; border: 1px black solid; align-content: center; ">
            <i class="fa-solid fa-plus" style="font-size: 18px; text-align: center;"></i>
          </button>
        </div>
      </div>
    </div>


    <!-- member add modal form -->
    <div class="modal fade mt-3" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="memberModalLabel">Add New Member</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render '/users/form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
  <h2 class="mb-0"><%= @tasks.count %> Chores</h2>
  <%= link_to chores_household_path(@household), class: "btn btn-primary", style: "border-radius: 32px; border: 1px black solid;" do %>
  Add
<% end %>


</div>


<!-- Feed of completed tasks -->
  <h2>Completed Tasks</h2>
  <% if @completed_submissions.any? %>
    <p>we can see feed here</p>
  <% else %>
    <p>No tasks completed yet.</p>
  <% end %>
